In [15]:
import os

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [16]:
RENAMED_DATA_FILEPATH = os.path.join(os.path.pardir, "Data", "RawData", "1_RenamedData.csv")

In [17]:
data = pd.read_csv(RENAMED_DATA_FILEPATH)

In [18]:
data.drop(columns=["id"], inplace=True)

data_encoded = pd.get_dummies(data, columns=['hearing(left)', 'hearing(right)', 'urine_protein', 'dental_caries'])

In [19]:
data_encoded.head(1)

,age,height(cm),weight(kg),waist(cm),eyesight(left),eyesight(right),systolic,relaxation,fasting_blood_sugar,cholesterol,...,hearing(right)_1,hearing(right)_2,urine_protein_1,urine_protein_2,urine_protein_3,urine_protein_4,urine_protein_5,urine_protein_6,dental_caries_0,dental_caries_1
0,55,165,60,81.0,0.5,0.6,135,87,94,172,...,True,False,True,False,False,False,False,False,True,False

In [20]:
X = data_encoded.drop(columns=['smoking'])
y = data_encoded['smoking']
del data_encoded

In [22]:
X[X['waist(cm)'] == 51]

,age,height(cm),weight(kg),waist(cm),eyesight(left),eyesight(right),systolic,relaxation,fasting_blood_sugar,cholesterol,...,hearing(right)_1,hearing(right)_2,urine_protein_1,urine_protein_2,urine_protein_3,urine_protein_4,urine_protein_5,urine_protein_6,dental_caries_0,dental_caries_1
5,50,170,55,51.0,1.2,1.2,146,95,101,199,...,True,False,True,False,False,False,False,False,False,True
26658,50,160,65,51.0,1.0,1.0,130,95,106,217,...,True,False,True,False,False,False,False,False,True,False
69787,45,165,65,51.0,1.5,1.2,130,95,105,224,...,True,False,True,False,False,False,False,False,True,False
132211,55,165,65,51.0,1.2,1.2,130,95,103,233,...,True,False,True,False,False,False,False,False,True,False

In [23]:
def iqr_outlier_info(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    
    n_outliers = ((df[column] < lower) | (df[column] > upper)).sum()
    
    return {
        "lower_bound": lower,
        "upper_bound": upper,
        "values_outside": int(n_outliers)
    }

In [25]:
iqr_outlier_info(X, 'systolic')

{'lower_bound': 90.0, 'upper_bound': 154.0, 'values_outside': 1592}